/* Estilização Global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garantir que ocupe a altura total da tela */
}

/* Logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 100px;
}

/* Menu */
nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Menu de Links */
nav a {
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    padding: 10px;
}

nav a:hover {
    color: #00BFFF;
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: #007BFF;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Formulário */
.form-container {
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Título do Formulário */
h1 {
    color: #007bff;
}

/* Estilo dos Campos de Entrada */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Botão de Envio */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
